# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Logs and runtime files
*.log
*.db
*.sqlite3
*.sqlite
trajectory_*.png

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.old
